.modal {
	width: 50%;
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	margin: 0 auto;
	margin-top: 5rem;
	padding: 2rem;
	display: grid;
	border-radius: 10px;
	grid-template-columns: 1fr;
	justify-items: center;

	&__close {
		width: 40px;
		height: 40px;
		color: black;
		position: fixed;
		top: 1rem;
		right: 1rem;
		padding: 1.6rem;
		border-radius: 2.6rem;
		box-sizing: content-box;
		background-color: rgba(255, 255, 255, 0.6);
		transition: all 0.2s;
		cursor: pointer;
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}
	}

	&__overlay {
		position: fixed;
		width: 100vw;
		height: 100vh;
		backdrop-filter: blur(5px);
		top: 0;
		left: 0;
	}

	&__answer-container {
		display: flex;
	}

	&__answer-input {
		margin: 0 0.5rem;
		border: none;
		border-radius: 5px;
		height: 3rem;
		padding: 0 1rem;
		font-family: 'Open Sans', sans-serif;
		&:focus-visible {
			outline: none;
		}
	}

	&__text-input {
		margin: 0 1rem;
		margin-bottom: 1rem;
		background-image: none;
		border: none;
		width: 80%;
		padding: 0.8rem;
		height: 16rem;
		font-family: 'Open Sans', sans-serif;
		border-radius: 10px;
		resize: none;
		&:focus-visible {
			outline: none;
		}
	}

	&__heading {
		font-size: 2rem;
		font-weight: 400;
		justify-self: left;
		margin-bottom: 1rem;
	}

	&__button {
		background-color: rgba(0, 0, 0, 0.1);
		border: none;
		border-radius: 5px;
		padding: 1rem;
		margin: 1rem;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			background-color: rgba(0, 0, 0, 0.15);
		}
	}
}
