.dilemma {
	width: 100%;
	background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
	margin: 1.6rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	&__text {
		font-size: 3rem;
		margin: 1.6rem;
	}
	&__answer {
		font-size: 1.8rem;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 1rem 0;
		width: 50%;
		cursor: pointer;
		transition: all 0.15s;
		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
		&--true {
			cursor: auto;
		}
		&--neutal {
		}
		&--most-popular {
			background-color: rgba(255, 255, 255, 0.6);
		}
	}
	&__time {
		padding: 1rem;
		font-size: 1rem;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.dilemma-container {
	width: 45rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.answers-container {
	display: flex;
	width: 100%;
	grid-gap: 2px;
}
