*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100vw;
	min-height: 100vh;
	background-image: linear-gradient(to right, #de6262, #ffb88c);
}

html {
	font-size: 62.5%;

	@media (max-width: 1200px) {
		font-size: 62.5%;
	}
	@media (max-width: 900px) {
	}
	@media (max-width: 600px) {
		font-size: 50%;
	}
	@media (max-width: 400px) {
		font-size: 35%;
	}
}
